/*--------------------------------------------------------------
# body start
--------------------------------------------------------------*/
	body a{
		text-decoration: none;
	}
	.entry-content a:not(.more-link):not(.button):not(.wp-block-button__link), .entry-summary a:not(.more-link):not(.button):not(.wp-block-button__link), .widget_text a:not(.more-link):not(.button) {
    	text-decoration: underline;
	}
/*--------------------------------------------------------------
# body start
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# top header start
--------------------------------------------------------------*/
	/*.top_header {
	    padding: 10px;
	}*/
	.top_header p {
	    margin: 0px;
	}
	.topbar_info_data {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.header_contact_data {
	    display: flex;
	    align-items: center;
	    flex-wrap: wrap;
    	justify-content: center;
	}
	.contact_info, .email_info{
	    padding: 10px;
	}
	.contact_info, .email_info {
	    display: flex;
	    align-items: center;
	    padding-right: 15px;
	}
	.contact_info i, .email_info i {
	    padding-right: 8px;
	}
	a.social_icon i {
	    width: 35px;
	    height: 35px;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    border: 1px solid;
	    transition: 0.6s;
	}
	a.social_icon i:hover {
	    transform: rotateZ( 360deg );
	    border-radius: 100%;
	}

/*--------------------------------------------------------------
# top header end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# header start
--------------------------------------------------------------*/
	.search_call_btn_info {
	    display: flex;
	    align-items: center;
	}
	.add_cart_icon a {
	    padding: 0px 10px;
	    font-size: 18px;
	}
	.header_info h1.site-title, .header_info p.site-description {
	    margin: 0px;
	}
	.searchlink {
	  cursor: pointer;
	  display: block;
	  float: left;  
	  padding: 0px 10px;
	  position: relative;
	}
	div#cl_serch {
	    cursor: pointer;
	    display: block;
	    float: left;
	    position: relative;
	}
	.cl_serch.open .searchform {
	    display: block;
	}
	.searchform {
	    display: none;
	    position: absolute;
	    width: 200px;
	    height: 53px;
	    line-height: 40px;
	    top: 27px;
	    right: 0px;
	    padding: 0 15px;
	    cursor: default;
	    border-radius: 2px;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e1e1e1;
	    z-index: 9999999;
	    background-color: #fff;
	}
	#search {
	    display: block;
	    position: relative;
	}
	#s {
	    width: 135px;
	    height: 38px;
	    background: #fff;
	    border: 1px solid #e1e1e1;
	    color: #888;
	    margin: 7px 0;
	}
	.sbtn {
	    display: block;
	    position: absolute;
	    font-size: 0.6em;
	    cursor: pointer;
	    right: 0px;
	    top: 8px;
	    margin: 0px;
	    width: 35px;
	    border-radius: 6px;
	    padding: 10px;
	}
	.cl_serch.openlllll .searchform {
	    display: block;
	}
	.call_button_info {
	    display: grid;
	    grid-template-columns: auto auto auto;
	    align-items: center;
	    overflow-wrap: anywhere;
	    justify-content: space-between;
	}
	.call_button_info {
	    align-items: center;
	}
	.call_menu_btn{
		padding: 10px 14px;
		border-radius: 100px;
		text-decoration: none;
	}
	.header_nav_info{
		padding: 15px 10px;
	}
/*--------------------------------------------------------------
# header end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# blog start
--------------------------------------------------------------*/
	time.entry-date.published:before {
	    content: "\f133";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	}
	span.byline:before {
	    content: "\f183";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	    font-weight: 900;
	}
	span.cat-links:before {
	    content: "\f02b";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	    font-weight: 900;
	}
	span.comments-link:before {
	    content: "\f075";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	    font-weight: 900;
	}
	span.cat-links, span.byline, time.entry-date.published{
	    margin-right: 10px;
	}
	main#primary {
	    min-height: 750px !important;
	}
	.blog_title.heading_main_title {
	    text-align: center;
	}
	main#primary article {
	    visibility: visible;
	    animation-delay: 0.3s;
	    animation-name: zoomIn;
	}
	main#primary figure.post-thumbnail {
	    position: relative;
	    overflow: hidden;
	    overflow-x: hidden;
	    overflow-y: hidden;
	    margin: 0;
	}

	main#primary img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
	    -webkit-transition: transform 2s, filter 1.5s ease-in-out;
	    -moz-transition: transform 2s, filter 1.5s ease-in-out;
	    -o-transition: transform 2s, filter 1.5s ease-in-out;
	    -ms-transition: transform 2s, filter 1.5s ease-in-out;
	    transition: transform 2s, filter 1.5s ease-in-out;
	    transform-origin: center center;
	    width: 100%;
	    opacity: 1;
	}
	main#primary article:hover figure.post-thumbnail img.attachment-post-thumbnail {
	    -webkit-transform: scale(1.15,1.15);
	}

	/* List View */
	.main_containor.list_view article {
	    display: flex;
	    justify-content: space-between;
	}
	.main_containor.list_view article figure.post-thumbnail {
	    width: 50%;
	}
	.main_containor.list_view article .main_container {
	    width: 50%;
	}
	.main_containor.list_view .main_container {
	    padding-left: 40px;
	} 
	.blog .mitco_tech_container_info.content_width.list_view .main_containor.list_view article {
		text-align: left;
	    padding: 25px;
	    position: relative;
	    border-radius: 20px;
	    position: relative;
	    z-index: 1;
	    transition: 0.5s all ease-in-out;
	}
	.blog .mitco_tech_container_info.content_width.grid_view .main_containor.grid_view article {
	    text-align: left;
	    /*padding: 25px;*/
	    position: relative;
	    border-radius: 20px;
	    position: relative;
	    z-index: 1;
	    transition: 0.5s all ease-in-out;
	    display: inline-block;
	}
	.blog .mitco_tech_container_info.content_width.grid_view .main_containor.grid_view article .main_container{
		padding:20px;
	}
	.mitco_tech_container_info.full_width{
		padding: 40px;
		margin: 0px;
	}
	.mitco_tech_container_info.full_width main#primary article {
	    padding: 20px;
	}
	.read_btn {
	    display: none;
	    margin-top: 15px;
	}
	body.blog .read_btn {
	    display: block;
	}
    body.blog time.entry-date.published{
    	margin: 0px;
    }
    /*.entry-meta {
	    position: absolute;
	    top: 0;
	    background: #9caab7;
	    padding: 10px;
	    left: 0;
	    transform: translate(60px,0px);
	    transition: all .4s;
	    opacity: 0;
	    visibility: hidden;
	}
	article:hover .entry-meta {
	    opacity: 1;
	    flex-direction: column;
	    visibility: visible;
	    display: flex;
	    transform: translate(0);
	}*/
/*--------------------------------------------------------------
# blog end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# title underline start
--------------------------------------------------------------*/
	span.separator {
	    position: relative;
	    display: flex;
	    height: 3px;
	    width: 60px;
	    border: 1px solid #3333;
	    border-radius: 0;
	    margin-bottom: 2rem;
	    margin-left: calc(50% - 50px);
	}
	span.separator:before {
	    position: absolute;
	    content: "";
	    height: 3px;
	    width: 20%;
	    border-radius: 0;
	    right: -35%;
	    top: 0;
	}
	span.separator:after {
	    position: absolute;
	    content: "";
	    height: 3px;
	    width: 22%;
	    border-radius: 0;
	    right: -70%;
	    top: 0;
	}
/*--------------------------------------------------------------
# title underline end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# button start
--------------------------------------------------------------*/
	button, input[type="button"], input[type="reset"], input[type="submit"], .wp-block-search .wp-block-search__button,.nav-previous a, .nav-next a, .buttons, .woocommerce a.button, .woocommerce button, .woocommerce .single-product button, .woocommerce button.button.alt, .woocommerce a.button.alt, .woocommerce button.button,.woocommerce button.button.alt.disabled {
	    position: relative;
	    color: white;
	    transition: all 0.3s;
	    transform: scale(1, 1);
	}
	button:before, input[type="button"]:before, input[type="reset"]:before, input[type="submit"]:before, .wp-block-search .wp-block-search__button:before,.nav-previous a:before, .nav-next a:before, .buttons:before, .woocommerce a.button:before, .woocommerce button:before, .woocommerce .single-product button:before, .woocommerce button.button.alt:before, .woocommerce a.button.alt:before, .woocommerce button.button:before,.woocommerce button.button.alt.disabled:before{
	 	content: '';
		position: absolute;
		transition: all 0.3s;
		bottom: 0;
		width: 100%;
		height: 100%;
		left: 4px;
		z-index: 1;  
		opacity: 0;
		transform: scale(0.1, 1);
	}
	button:after, input[type="button"]:after, input[type="reset"]:after, input[type="submit"]:after, .wp-block-search .wp-block-search__button:after,.nav-previous a:after, .nav-next a:after, .buttons:after, .woocommerce a.button:after, .woocommerce button:after, .woocommerce .single-product button:after, .woocommerce button.button.alt:after, .woocommerce a.button.alt:after, .woocommerce button.button:after,.woocommerce button.button.alt.disabled:after{
	    content: '';
		position: absolute;
		transition: all 0.3s;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: all 0.3s;
	}
	button:hover:before, input[type="button"]:hover:before, input[type="reset"]:hover:before, input[type="submit"]:hover:before, .wp-block-search .wp-block-search__button:hover:before,.nav-previous a:hover:before, .nav-next a:hover:before, .buttons:hover:before, .woocommerce a.button:hover:before, .woocommerce button:hover:before, .woocommerce .single-product button:hover:before, .woocommerce button.button.alt:hover:before, .woocommerce a.button.alt:hover:before, .woocommerce button.button:hover:before,.woocommerce button.button.alt.disabled:hover:before{
		opacity: 1;
		transform: scale(1, 1);
	}
	button:hover:after, input[type="button"]:hover:after, input[type="reset"]:hover:after, input[type="submit"]:hover:after, .wp-block-search .wp-block-search__button:hover:after,.nav-previous a:hover:after, .nav-next a:hover:after, .buttons:hover:after, .woocommerce a.button:hover:after, .woocommerce button:hover:after, .woocommerce .single-product button:hover:after, .woocommerce button.button.alt:hover:after, .woocommerce a.button.alt:hover:after, .woocommerce button.button:hover:after,.woocommerce button.button.alt.disabled:hover:after{
		transform: scale(1, .1);
  		opacity: 0;
	}
/*--------------------------------------------------------------
# button end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sidebar start
--------------------------------------------------------------*/
	.mitco_tech_container_info.right_sidebar {
	    display: flex;
	}
	.mitco_tech_container_info.left_sidebar {
	    display: flex;
	}
	.mitco_tech_container_info.left_sidebar {
	    display: flex;
	    flex-direction: row-reverse;
	}
	.mitco_tech_container_info.no_sidebar aside.widget-area, .home .mitco_tech_container_info.no_sidebar aside.widget-area{
		display: none;
	}
	.mitco_tech_container_info.no_sidebar main#primary, .home .mitco_tech_container_info.no_sidebar main#primary{
		width: 100%;
	}
	.blog aside.widget-area{
		display: none;
	}
	.blog main#primary{
		width: 100%;
	}
	.home main#primary{
		width: 100%;
		margin:15px;
	}
	.home aside.widget-area{
		display: none;
	}

	aside.widget-area section h2 {
	    margin: 0px;
	}
	aside.widget-area .widget {
	    margin: 15px;
	    margin-bottom: 1.875rem;
	    overflow: hidden;
	    position: relative;
	}
	aside.widget-area section h2, aside.widget-area label.wp-block-search__label {
	    margin-bottom: 0;
	    line-height: 1;
	    padding: 18px;
	    margin: 0px;
	}
	.wp-block-group__inner-container ul, .wp-block-search__inside-wrapper, .no-comments.wp-block-latest-comments, .wp-block-group__inner-container ol, .no-comments.wp-block-latest-comments {
	    margin: 0px;
	    padding: 15px;
	    padding-left: 15px !important;
	    list-style: none;
	}
	.wp-block-group__inner-container ul li, .wp-block-group__inner-container ol li {
	    padding: 5px 0px;
	}
	.wp-block-group__inner-container ul li a:before, .wp-block-group__inner-container ol li a:before, .no-comments.wp-block-latest-comments:before {
	    content: "\f101";
	    font: normal normal normal 14px /1 'FontAwesome';
	    margin-right: 10px;
	    font-size: 17px;
	    font-weight: bold;
	}
	button.wp-block-search__button {
	    padding: 5px 15px;
	}
	.main_container ol, .main_container ul {
	    padding: 0px;
	}
	.post-navigation .nav-previous, .post-navigation .nav-next{
	    text-align: left;
	    margin-right: 5px;
	}
	.nav-previous a, .nav-next a{
		display: inline-block;
	}
	.blog header.entry-header {
	    display: flex;
	    flex-direction: column-reverse;
	    margin-top: 10px;
	}
/*--------------------------------------------------------------
# Sidebar end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# breadcrumb start
--------------------------------------------------------------*/
	.home .breadcrumb_info {
	    display: none;
	}
	.breadcrumb-heading h1 {
	    margin: 0px;
	}
	.breadcrumb_info {
	    text-align: center;
	    padding: 60px 0px;
	}
	ol.breadcrumb-list {
	    margin: 0px;
	    padding: 0px;
	    list-style: none;
	    margin-top: 15px;  
	    display: inline-block;
	    max-width: max-content;
	    padding: 15px 10px;
	    border-radius: 100px;
	}
	ol.breadcrumb-list li {
	    display: inline-block;
	}
	i.fa.fa-home {
	    font-size: 20px;
	    transition: transform .7s ease-in-out;
	}
	section#breadcrumb-section a i:hover {
	    transform: rotate(360deg);
	}
	button.wp-block-search__button {
	    padding: 8px 10px;
	}
/*--------------------------------------------------------------
# breadcrumb end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# featured slider start
--------------------------------------------------------------*/
	.featured_slider_image a {
	    text-decoration: none !important;
	}
	.featured_slider_image {
	    text-align: center;
	}
	.hentry-inner {
	    background-color: #222222;
	    background-position: center;
	    background-repeat: no-repeat;
	    -webkit-background-size: cover;
	    background-size: cover;
	    display: -webkit-box;
	    display: -webkit-flex;
	    flex-direction: column;
	    height:550px;
	    overflow: hidden;
	    position: relative;
	    padding: 88px 50px;
	}
	.hentry-inner .post-thumbnail {
	    background-color: transparent;
	    background-image: linear-gradient( 0deg,#0c0c0c 0%,#000000 20%);
	    opacity: .50;
	    transition: background .3s,border-radius .3s,opacity .3s;
	}
	.hentry-inner .post-thumbnail img {
	    left: 0;
	    object-fit: cover;
	    top: 0;
	    transform: none;
	    position: absolute;
	    height: 100%;
	}
	.hentry-inner .entry-container {
	    margin: 0px 150px 0;
	    /* max-width: 570px; */
	    margin-top: auto;
	    margin-bottom: auto;
	}
	.featured_slider_title h1 {
	    margin-top: 0px !important;
	}
	.featured_slider_disc, .featured_slider_title h1 {
	    margin: 25px 0px;
	}
	.owl-item.active .entry-container {
	    opacity: 1;
	    visibility: visible;
	    top: 0;
	    z-index: 99999;
	}
	.featured_slider_image button.owl-prev, .featured_slider_image button.owl-next {
	    outline: none;
	    opacity: 1;
	    letter-spacing: 0;
	    position: absolute;
	    top: 40%;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: none;
	    z-index: 199;
	}
	.owl-prev {
	    left: 20px;
	}
	.owl-next {
	    right: 20px;
	}
	i.fa.fa-angle-right, i.fa.fa-angle-left {
	    font-size: 20px;
	    width: 45px;
	    height: 45px;
	    font-weight: bold;
	    line-height: 40px;
	}
	.image_btn.button a.buttons {
	    margin: 10px 0px;
	}
	.hentry-inner .entry-container {
	    display: block;
	    opacity: 0;
	    position: relative;
	    visibility: hidden;
	    top: 150px;
	    transition: all 1s ease;
	    z-index: 9;
	}
	header.featured_slider_title.entry-header {
	    margin-left: 0px;
	}
	.featuredimage_slider {
	    text-align: center;
	}
	.featured_slider_image .owl-dots {
	    display: none;
	}

/*--------------------------------------------------------------
# featured slider end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Featured Section Start
--------------------------------------------------------------*/
	.featured-section_data a{
		text-decoration: none !important;
	}
	.featured-section_data {
	    text-align: center;
	    padding: 40px 10px;
	}
	.card-container.featured_content {
	    display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
	}
	div#featured-section {
	    position: relative;
	    z-index: 1;
	    text-align: center;
	    display: block;
	    opacity: 1;
	    top: 0px;
	    transition: all 1s ease;
	}
	.section-featured-wrep {
	    text-align: left;
	    padding: 30px;
	    width: 250px;
	    margin: 10px;
	    transition: all .8s;
	}
	.section-featured-wrep i {
	    border-radius: 100px;
	    width: 60px;
	    height: 60px;
	    line-height: 62px;
	    text-align: center;
	}
	.featured-title h4 {
	    margin: 0px;
	}
	.featured-title .entry-content {
	    margin: 0px;
	}
	.featured-title header.entry-header {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.section-featured-wrep {
	    position: relative;
	    position: relative;
	    transition: 0.25s;
	    -webkit-transition: all 0.25s ease-in;
	    -moz-transition: all 0.25s ease-in;
	    transition: all 0.25s ease-in;
	}
	.section-featured-wrep:before {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 0px;
	    height: 100%;
	    transition: .5s;
	    z-index: 0;
	}
	.section-featured-wrep:hover:before {
	    width: 100%;
	}
	.featured-thumbnail {
	    position: relative;
	}
	/*.featured-thumbnail {
	    display: flex;
	    align-items: flex-start;
	    justify-content: flex-start;
	}
	.featured-title {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    margin-left: 40px;
	}
	.section-featured-wrep:hover:after {
	    transition: 0.5s ease;
	    transform: rotateY(0deg);
	    border-radius: 0;
	}
	.section-featured-wrep {
	    padding: 25px;
	    display: flex;
	    position: relative;
	    z-index: 1;
	    border-radius: 0px;
	    transition: all 1s ease;
	}
	.section-featured-wrep:after{
		position: absolute;
	    top: 0%;
	    left: 0%;
	    width: 100%;
	    height: 100%;
	    content: '';
	    display: block;
	    overflow: hidden;
	    border-radius: 0;
	    transform: rotateY(180deg);
	    transition: .5s;
	    z-index: -1;
	}*/
/*--------------------------------------------------------------
# Featured Section end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# About Section start
--------------------------------------------------------------*/
	.about_section_info a{
		text-decoration: none !important;
	}
	.about_section_container {
	    display: flex;
	    width: 100%;
	    padding: 30px 0px;
	}
	.about_featured_image, .about_container_data {
	    width: 50%;
	}
	.about_section_info {
	    text-align: center;
	    padding: 40px 10px;
	}
	.about_container_data {
	    padding-left: 20px;
	}
	.about_featured_image {
	    padding-right: 20px;
	}
	.about_icon.buttons i {
	    padding: 20px;
	    font-size: 25px;
	}
	.about_container_data .about_icon.buttons:hover {
	    padding: 0px;
	}
	.about_icon.buttons:after {
	    content: unset;
	}
	.about_icon.buttons {
	    margin-right: 10px;
		padding: 0px;
	}
	.about_container {
	    display: flex;
	    margin-bottom: 10px;
	    align-items: center;
	    text-align: left;
	}
	.about_container h3, .about_container p{
	    margin: 0px;
	}
	.about_title a {
	    text-decoration: none;
	}
	.about_icon.buttons:hover{
	    padding: 10px 15px;
	}
	.about_description {
	    padding-bottom: 30px;
	}
/*--------------------------------------------------------------
# About End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Our Portfolio start
--------------------------------------------------------------*/
	div#our_portfolio_info{
		text-align: center;
    	padding: 40px 10px;
	}
	.our_portfolio_container {
	    position: relative;
	    overflow: hidden;
	    width: 340px;
	}
	/*.our_portfolio_container:hover img {
	    transform: scale(1.1);
	}
	.our_portfolio_container img {
	    max-width: 100%;
	    transition: all 0.3s;
	    display: block;
	    width: 100%;
	    height: auto;
	    transform: scale(1);
	}*/
	.parent.our_portfolio_caption {
	    padding: 10px;
	}
	.wrappers.our_portfolio_section {
	    display: flex;
	    flex-wrap: wrap;
	    padding: 20px 0px;
		justify-content: center;
	}
	.our_port_containe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    display: flex;
	    flex-direction: column;
	}
	/*.our_port_containe{
		text-align: center;
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 100%;
	    transition: all 0.3s;
	    opacity: 0;
	    flex-direction: column;
	}
	.our_portfolio_container:hover .our_port_containe {
	    visibility: visible;
	    opacity: 0.7;
	    background: #000;
	}
	.our_portfolio_container .our_portfolio_title h3{
		transform: translate(-80px,0px);
		transition: all .4s;
	}
	.our_portfolio_container:hover .our_portfolio_title h3{
		transform: translate(0);
	}
	.our_portfolio_container .our_portfolio_title p{
		transform: translate(80px,0px);
		transition: all .4s;
	}
	.our_portfolio_container:hover .our_portfolio_title p{
		transform: translate(0);
	}
	.our_portfolio_container .our_portfolio_btn{
		transform: translate(0px,80px);
		transition: all .4s;
		margin-top: 15px;
	}
	.our_portfolio_container:hover .our_portfolio_btn{
		transform: translate(0);
	}
	.protfolio_images:before {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #000;
	    opacity: 0;
	    z-index: 0;
	    transform: scaleX(0);
	    transform-origin: center;
	    transform-style: preserve-3d;
	    transition: all 0.4s linear;
	}
	.our_portfolio_container:hover .protfolio_images:before{
		opacity: 0.7;
    	transform: scaleX(1);
	}
	.our_portfolio_btn i {
	    border-radius: 100px;
	    width: 40px;
	    height: 40px;
	    text-align: center;
	    line-height: 40px;
	}*/
	/*.our_portfolio_title {
	    text-align: center;
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 100%;
	    transition: all 0.3s;
	    opacity: 0;
	    transform: translateY(50px);
	    flex-direction: column;
	}
	.our_portfolio_container:hover .our_portfolio_title {
	    visibility: visible;
        transform: translateY(0);
	    opacity: 0.7;
	    background: #000;
	}
	.our_portfolio_btn {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    z-index: 1;
	}*/
	/*.our_portfolio_btn a:after {
	    border-style: solid;
	    border-width: 60px 60px 0 0;
	    bottom: 4px;
	    content: "";
	    position: absolute;
	    right: 4px;
	    z-index: -1;
	}*/
	/*.our_portfolio_btn i{
		padding: 0 15px 15px;
	}
	
	.our_portfolio_container:hover .protfolio_images {
	    filter: blur(2px);
	}*/
	.our_portfolio_title h3, .our_portfolio_title p {
	    margin: 0px;
	}
	.our_port_containe {
	    position: absolute;
	    z-index: 20;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: auto;
	    content: "";
	    border: 30px solid transparent;
	    background-color: rgb(0 0 0 / 50%);
	    /*background-color: #000;
	    opacity: .4;*/
	    background-clip: padding-box;
	    -webkit-transition: all .3s ease-out;
	    transition: all .3s ease-out;
	}
	.our_port_containe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    justify-content: center;
	}
	.our_port_containe:hover {
		background-color: rgb(0 0 0 / 30%);
	   /* opacity: .2;*/
	    border: 10px solid transparent;
	}
	.protfolio_images img {
	    display: block;
	}
	.our_portfolio_btn a i {
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	}
/*--------------------------------------------------------------
# Our Portfolio End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# our services
--------------------------------------------------------------*/
	.our_services_section a{
		text-decoration: none !important;
	}
	.our_services_section {
	    padding: 50px 10px;
	    text-align: center;
	}	
	.our_services_section_data {
	    display: flex;
	    flex-wrap: wrap;
	    text-align: center;
	    justify-content: center;
	    padding: 30px 0px;
	}
	.card {
		padding: 20px;
	    position: relative;
	    transition: all 1s ease-in-out;
	    width: 325px;
	    border-radius: 6px;
	    margin: 10px;
	}
	.side.services-section-wrep {
	    display: none;
	}
	.side.back.services-section-data {
	    text-align: left;
	}
	.card .our_services_img i {
	    font-size: 40px;
	}
	.our_services_container h3, .our_services_container p {
	    margin: 10px 0px;
	}
	/*.card:hover .side.services-section-wrep {
	    opacity: 0;
	    visibility: hidden;
	    transition: .3s;
	    position: absolute;
	}
	.side {
	    backface-visibility: hidden;
	    border-radius: 6px;
	    position: relative; 
	    overflow: hidden; 
	}
	.card:hover .side.back.services-section-data {
	    opacity: 1;
	    transform: scale(1);
	    position: relative;
	}
	.side.back.services-section-data {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    backface-visibility: hidden;
	    overflow: hidden;
	    transition: all .6s;
	}
	.side.back.services-section-data {
	    text-align: center;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    opacity: 0;
	    transform: scale(.3);
	}*/
	/*.side.back.services-section-data {
	    padding: 20px;
	    border-left: 2px solid #425E79;
	    position: relative;
	    padding: 1.25rem 1.563rem;
	    transition: 0.25s;
	    -webkit-transition: all 0.25s ease-in;
	    -moz-transition: all 0.25s ease-in;
	    transition: all 0.25s ease-in;
	}
	.side.back.services-section-data:hover:before {
	    width: 100%;
	}
	.side.back.services-section-data:before {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 0px;
	    height: 100%;
	    transition: .5s;
	    z-index: 0;
	    background: #425E79;
	}
	.our_services_data {
	    position: relative;
	}
	.our_services_img i {
	    font-size: 35px;
	}
	.our_services_container h3 {
	    margin: 10px 0px;
	}
	.our_services_discription p {
	    margin: 10px 0px;
	}*/

	/*.card .back {
	    padding: 30px;
	}
	.side.back.services-section-data .our_services_img i {
	    font-size: 50px;
	}
	.card.section-services-wrep:hover {
	    transform: translateY(-10px);
	}
	.card.section-services-wrep {
	    position: relative;
	    overflow: hidden;
	    transition: all 0.3s ease-in-out;
	}
	.card.section-services-wrep:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    bottom: -32px;
	    left: 50%;
	    height: 32px;
	    width: 32px;
	    border-radius: 32px;
	    -webkit-transform: scale(1);
	    transform: translateX(-50%) scale(1);
	    -webkit-transform-origin: 50% 50%;
	    transform-origin: 50% 50%;
	    -webkit-transition: -webkit-transform 1s ease-out;
	    transition: -webkit-transform 1s ease-out;
	    transition: transform 1s ease-out;
	    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
	}
	.card.section-services-wrep:hover:before {
	    transform: scale(50);
	}*/
/*--------------------------------------------------------------
# Our Services end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Our Team start
--------------------------------------------------------------*/
	.our_team_data {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;   
	    padding: 30px 0px; 
	}
	.our_team_container {
	    width: 260px;
	    margin: 0px 6px;
	    margin-bottom: 20px;
	}
	.our_team_img {
	    width: 100%;
	    overflow: hidden;
	    display: block;
	}
	.our_team_img img {
	    width: 100%;
	    vertical-align: middle;
	    display: block;
	}
	.our_team_container_data {
	    position: relative;
	}
	/*.our_team_contain_info {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    text-align: center;
	    opacity: 0;
	    visibility: hidden;
	}*/
	.our_team_container:hover .our_team_contain_info {
	    opacity: 1;
	    visibility: visible;
	}
	.our_teams_contain h3, .our_teams_contain p {
	    margin: 0px;
	}
	.our_teams_contain{
		padding: 15px;
	}
	.our_teams_contain {
	    text-align: center;
	    padding: 15px;
	}
	.our_team_section {
	    text-align: center;
	    padding: 40px 10px;
	}
	.our_team_social_icon a i:hover {
	    transform: rotateZ( 360deg );
	    border-radius: 100%;	    
	}
	.our_team_social_icon a i {
	    padding: 8px;
	    margin-top: 5px;
	    transition: 0.6s;
	}
	.our_team_container:hover .our_team_img {
	    filter: blur(1px);
	}
	.our_team_title a {
	    display: inline-block;
	}
	/*.our_team_img:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 97%;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 0;
	}
	.our_team_contain_info {
		display: none;
	    position: absolute; 
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    text-align: center;
	    overflow: hidden;
	    border-radius: 0 0 10px 10px;
	    -webkit-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}
	.our_team_container:hover .our_team_contain_info {
		display: block;
	}
	.our_team_social_icon {
	    padding: 1.25rem 2.15rem;
	    overflow: hidden;
	}
	.our_teams_contain {
	    padding: 15px;
	    position: relative;
	    z-index: 1;
	    text-align: center;
	}
	.our_team_container:hover .our_team_img:after {
	    opacity: 0.5;
	    visibility: visible;
	    background-color: #000;
	}
	.our_team_container_data{
	    position: relative;
	    z-index: 0;
	    display: block;
	    -webkit-transition: .3s cubic-bezier(0.23, 0.07, 0.58, 1);
	    transition: .3s ease-in-out;
	}
	.our_team_container:hover .our_team_info {
	    -webkit-transform: translateY(15px);
	    transform: translateY(15px);
	    -webkit-transition-delay: .3s;
	    -webkit-transition-delay: .3s;
	}
	.our_team_container:hover .our_team_img img {
	    filter: blur(1px);
	}
	.our_team_social_icon > .dddd {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    z-index: 0;
	}
	.dddd {
	    margin-top: -0.75rem;
	}
	.dddd a {
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transform: translateY(150px);
	    transform: translateY(150px);
	    margin-top: 0.56rem;
	    -webkit-transition: .5s ease-in-out;
	    transition: .5s ease-in-out;
	}
	.our_team_container:hover .dddd a {
	    opacity: 1;
	    visibility: visible;
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
	.our_team_title h3{
	    margin: 0px;
	}
	.our_team_social_icon i {
	   font-size: 18px;
	    padding: 13px;
	    border-radius: 100px;
	    width: 40px;
	    transition: 0.6s;
	    height: 40px;
	}
	.our_team_social_icon a {
	    text-decoration: none;
	}
	.our_team_social_icon i:hover {
	    transform: rotateZ( 360deg );
	    border-radius: unset;
	}
	.our_team_section {
	    padding: 50px 10px;
	    text-align: center;
	}
	.our_team_section a {
	    text-decoration: none !important;
	}*/
/*--------------------------------------------------------------
# Our Team end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Our testimonial start
--------------------------------------------------------------*/
	.our_testimonial_section a{
		text-decoration: none !important;
	}
	.our_testimonial_section {
	    padding: 50px 10px;
	    text-align: center;
	}
	.image_testimonials img {
	    position: relative;
	    border-radius: 100px;
	    object-fit: cover;
	    max-width: 130px;
	    height: 130px;
	    z-index: 1;
	    margin-left: auto;
    	margin-right: auto;
	}
	.our_testimonials_container p, .our_testimonials_container h3, .our_testimonials_container h4 {
	    margin: 0px;
	}
	.testimonials_disc {
	    padding: 30px;
	    position: relative;
	}
	.our_testimonials_container {
	    padding-bottom: 60px;
	}
	.testimonials_disc:after {
	    content: "\f10e";
	    font-family: 'fontAwesome';
	    font-size: 30px;
	    position: absolute;
	    bottom: 0;
	    transform: translate(-50%,-50%);
	}
	.our_testimonial_section .testinomial_owl_slider .owl-nav.disabled {
	    display: block !important;
	}
	.our_testimonial_section .owl-carousel .owl-nav button.owl-prev, .our_testimonial_section .owl-carousel .owl-nav .owl-next {
	    position: absolute;
	    padding: 17px !important;
	    line-height: 19px;
	    font-size: 25px;
	    top: 100px;
	}
	.testimonials_title {
	    padding-top: 20px;
	}
	.our_testimonial_section button.owl-dot {
	    width: 10px;
	    height: 10px;
	    padding: 5px;
	    background: #425e79 !important;
	    border-radius: 100px;
	    flex-direction: column-reverse;
	    flex-wrap: nowrap;
	    margin: 2px;
	    margin-top: 20px;
	}
	.our_testimonial_section button.owl-dot.active {
	    background: #2a3b4a !important;
	    width: 25px;
	}
	.our_testimonial_section .owl-dots{
		text-align: center;
	}
	.our_testimonial_section button:after{
		border: none;
	}
	.our_testimonial_data {
	    margin: 10px;
	}
	.testimonials_disc {
	    border-top: 3px solid #2a3b4a;
	    margin-top: -12px;
	}
	.image_testimonials img {
	    position: relative;
	    border: 5px solid;
	    border-radius: 15px;
	    object-fit: cover;
	    max-width: 130px;
	    height: 130px;
	    z-index: 1;
	    margin-left: auto;
	    margin-right: auto;
	}
	/*.our_testimonials_container p {
		margin: 0px;
	}
	.our_testimonial_section .image_testimonials img {
	    width: 100px;
	    height: 100px;
	    border-radius: 100px;
	}
	.testimonials_image {
	    width: 100px;
	    margin-top: 20px;
	}
	.our_testimonial_data_info {
	    display: flex;
	    flex-direction: column-reverse;
	    position: relative;
	}
	.our_testimonials_container {
	    padding: 30px;
	    padding-left: 70px;
	}
	.testimonials_disc:before {
	    top: 15px;
	    content: "\f10d";
	    display: inline-block;
	    font-family: "FontAwesome";
	    font-size: 1.5rem;
	    line-height: 1.2;
	    color: #ffffff;
	    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
	    font-style: normal;
	    position: absolute;
	    left: 0;
	    background: #35ac39;
	}
	.testimonials_title {
	    position: absolute;
	    left: 110px;
	    text-align: left;
	    bottom: 0px;
	}
	.testimonials_title h3, .testimonials_title h4 {
	    margin: 10px;
	}
	.home .our_testimonial_section .testinomial_owl_slider:hover .owl-nav.disabled {
	    display: block !important;
	}
	.our_testimonial_section .owl-carousel .owl-nav button.owl-prev, .our_testimonial_section .owl-carousel .owl-nav .owl-next {
	    position: absolute;
	    padding: 17px !important;
	    line-height: 19px;
	    font-size: 25px;
	    top: 100px;
	}
	.our_testimonial_section button.owl-dot {
	    width: 12px;
	    height: 12px;
	    padding: 5px;
	    background: #212428 !important;
	    border-radius: 100px;
	    flex-direction: column-reverse;
	    flex-wrap: nowrap;
	    margin: 2px;
	    margin-top: 20px;
	}
	.our_testimonial_section button.owl-dot.active {
	    background: #35ac39 !important;
	}
	.our_testimonial_section .owl-dots{
		text-align: center;
	}
	.our_testimonial_section button:after{
		border: none;
	}*/
/*--------------------------------------------------------------
# Our testimonial end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# our sponsors start
--------------------------------------------------------------*/
	.our_sponsors_section a{
		text-decoration: none !important;
	}
	.our_sponsors_section {
	    padding: 50px 10px;
	    text-align: center;
	}
	.our_sponsors_contain {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    padding: 30px 0px;
	}
	.our_sponsors_img {
	    padding: 20px;
	    margin: 2px;
	    border:1px solid #dddddd;
	}
	.our_sponsors_section .our_sponsors_contain:hover .owl-nav.disabled {
	    display: block !important;
	}
	.our_sponsors_section .our_sponsors_contain:hover .owl-carousel .owl-nav button.owl-prev, .our_sponsors_section .our_sponsors_contain:hover .owl-carousel .owl-nav button.owl-next {
	    position: absolute;
	    padding: 17px !important;
	    line-height: 19px;
	    font-size: 25px;
	    top: 40px;
	}
	.our_sponsors_demo .owl-dots{
		display: none;
	}
/*--------------------------------------------------------------
# our sponsors end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# footer start
--------------------------------------------------------------*/
	.scrollingUp.is-active {
	    visibility: visible;
	    opacity: 1;
	}
	.scrolling-btn {
	    position: fixed !important;
	    bottom: 15px;
	    right: 15px;
	    width: 46px;
	    height: 40px;
	    line-height: 16px;
	    cursor: pointer;
	    text-align: center;
	    transition: .9s;
	    border-radius: 2px;
	    font-size: 20px;
	    border: none;
	    z-index: 5;
	    visibility: hidden;
	    opacity: 0;
	}
	.scrollingUp:after{
	    content: unset;
	}
	.widget_footer {
	    display: flex;
	}
	.widget_footer ul {
	    margin: 0px;
	    padding: 0px;
	    list-style: none;
	}
	.widget_section {
	    width: 25%;
	    text-align: left;
	    padding: 15px;
	}
	.widget_section h1, .widget_section h2, .widget_section h3, .widget_section h4, .widget_section h5, .widget_section h6 {
	    margin: 0px;
	    margin-bottom: 20px;
	}
	footer#colophon{
		padding: 10px;
		text-align: center;
		box-shadow: 0 4px 44px 0 rgb(0 0 0 / 14%);
	}
/*--------------------------------------------------------------
# footer end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# woocommerce start
--------------------------------------------------------------*/
	.woocommerce_product_sections a{
		text-decoration: none !important;
	}
	.woocommerce ul.products li.product .button {
	    display: inline-block;
	}
	.woocommerce .woocommerce-message{
	    background-color: #ffffff;
	}
	.woocommerce .woocommerce-cart table.cart img{
	    width: 100px;
	}
	.woocommerce ul.products li.product .button {
	    display: inline-block;
	}
	.woocommerce ul.tabs.wc-tabs {
	    padding-left: 7px !important;
	}
	.woocommerce ul.tabs.wc-tabs li {
	    margin-left: 1px !important;
	    margin-right: 1px !important;
	    text-transform: uppercase;
	    padding: 5px 15px !important;
	}
	.woocommerce ul.tabs.wc-tabs {
	    display: flex;
	}
/*--------------------------------------------------------------
# woocommerce end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
	.mobile_menu {
	    display: none;
	}
	.mobile_menu {
	    position: fixed;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    overflow-y: auto;
	    z-index: 99999;
	    overflow-x: hidden;
	    background-color: #000;
	}
	.mobile_menu #primary-menu {
	    margin-top: 59px;
	}
/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
	/*--------------------------------------------------------------
    # navbar
    --------------------------------------------------------------*/
    .call_button_info nav.main-navigation ul {
        display: none;
    } 
    .main-navigation .menu-item-has-children > a:after{
        content: '' !important;
    }
    button.dropdown-toggle:hover {
        padding: 5px;
    }
    button#mobilepop {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
    /* # navbar close
    --------------------------------------------------------------*/
    .topbar_info_data {
	    flex-direction: column;
	}
	.header_topbar_info, .header_social_icon {
	    margin: 5px;
	}
	.call_button_info .header_call_btn {
	    display: none;
	}
	.mobile_menu .search_call_btn_info {
	    display: flex;
	    justify-content: center;
	    margin-top: 20px;
	}
	.mobile_menu .header_call_btn.header_nav_info {
	    display: block;
	}
	.section-featured-wrep{
		width: 350px;
	}
	.about_section_container {
	    flex-direction: column;
	}
	.about_featured_image, .about_container_data {
	    width: 100%;
	    padding: 0px !important;
	}
	.our_portfolio_container{
		width: 350px;
	}
	.card {
	    width: 350px;
	}
	.our_team_container {
	    width: 365px;
	}
	.our_testimonial_section .owl-nav {
	    display: none;
	}
	.our_sponsors_section .owl-nav {
	    display: none;
	}
	.main_containor.grid_view {
	    grid-template-columns: repeat(1, 1fr) !important;
	}
	.mitco_tech_container_info.right_sidebar, .mitco_tech_container_info.left_sidebar {
	    display: flex;
	    flex-direction: column;
	}
	.mitco_tech_container_data main#primary, .mitco_tech_container_data aside.widget-area {
	    width: 100%;
	    margin: 0px;
	}
	.header_info {
	    flex-wrap: wrap;
	}
	.main_site_header {
	    padding: 10px;
	}
	.hentry-inner .entry-container {
	    margin: 0px;
	}
	.mitco_tech_container_info.full_width .main_container {
	    padding-left: 0px !important; 
	}
	.mitco_tech_container_info .main_containor.list_view .main_container{
		padding-left: 0px !important;
	}
	.post-navigation .nav-links {
	    display: flex;
	    flex-direction: column;
	}
	.post-navigation .nav-previous, .post-navigation .nav-next{
		margin: 5px;
	}
    .widget_section {
	    width: 100% !important;
	}
	.widget_footer {
	    display: block !important;
	}
	.testimonials_disc{
		padding: 30px 30px;
	}
}

.customize-partial-edit-shortcut button, .widget .customize-partial-edit-shortcut button{
	left: 5px;
}
.scroll-element {
  min-height: 250px;
  height: 100%;
}

.scroll-caption {
  margin: 1rem;
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
